@page
@model IndexModel
@{
    ViewData["Title"] = "Calculator";
}




<div class="half left">
    <div class="container">
        <h2>Diagram</h2>
        <p>Please paste your architecture diagram below</p>

        <canvas id="drawingCanvas" width="760" height="700"></canvas>
    </div>

</div>
<div class="half right">
    <div class="container">
        <h2>SLA</h2>
        <button class="alert-primary" id="btn-update">Calculate</button>
        <div style="display: none;" class="loading-spinner" id="loading-spinner"></div>
        <p>
            <table id="servicesTable">
                <thead>
                    <tr>
                        <th></th>
                        <th style="width: 60%;">Name</th>
                        <th style ="text-align: center;">SLA (percentage)</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </p>
    </div>
</div>