


.x-btn-icon {
    padding-top: 6px;
}

.x-app-footer {
    background-color: #00011b;
    color: #f1f1f1;
    padding: 10px;
    font-size: 12px;
    font-weight: normal;
}

.sla-footer {
    background-color: #f2d8a3;
    color: #000000;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
}

#grandTotalSla {
    font-size: 16px;
    font-weight: bold;
    text-align: end;
}

.region-sla-input {
    width: 30px;
    text-align: right;
}

.x-grid-checkheader {
    height: 14px;
    background-image: url('_assets/extux/unchecked.gif');
    background-position: 50% -2px;
    background-repeat: no-repeat;
    background-color: transparent;
}

.x-grid-checkheader-checked {
    background-image: url('_assets/extux/checked.gif');
}

.x-grid-checkheader-editor .x-form-cb-wrap {
    text-align: center;
}


.x-panel-header {
    background-color: #00011b;
    color: #f1f1f1;
}

.x-panel-header div {
    background-color: #00011b;
    color: #f1f1f1;
}

.x-panel-header h1 {
    padding: 6px 0px 4px 6px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 22px;
}

.x-panel-header h5 {
    padding: 0px 0px 4px 6px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.fs-container {
    width: 320px;
    margin: auto;
}

.literally {
    width: 100%;
    height: 100%;
    position: relative;
}



.user-container {
    display: grid;
    grid-template-columns: auto 1fr; /* Auto size for image, flexible for content */
    align-items: center; /* Center vertically */    
    border: 0px solid #ccc; /* Optional, for visualization */
}

.user-container img {
    width: 30px;
    height: auto;
    margin: 10px 0px 0px 0px;
}

.user-container .logout-content {
    font-weight: normal;
    margin: -20px 0px 0px 10px;
    cursor: pointer;
}

.user-container .logout-content:hover {
    font-weight: bold;
    cursor: pointer;
}

.user-container .name-content {
    font-weight: bold;
    margin: 0px 0px 0px 10px;
}

